@use "./themes" as t;
@use "sass:map";

:root {
  @include t.emit-theme(map.get(t.$themes, light));

  --ff-serif: var(--font-noto-serif), Georgia, serif;
  --ff-sans:  var(--font-inter), system-ui, sans-serif;
  --ff-mono:  var(--font-dm-mono), 'Courier New', monospace;
}

*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
