.wrapper {
  height: 70px;
  padding-inline: 30px;
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  display: flex;
  justify-content: space-between;
  align-items: center;

  border-bottom: 1px solid var(--canvas-deep);

  background: var(--canvas);
}

.container {
  max-width: var(--max-width);
  width: 100%;
  margin-inline: auto;
}

.logo {
  font-weight: 500;
  font-size: 22px;
  letter-spacing: -1.0px;
  color: var(--accent);
  text-decoration: none;
  font-family: var(--ff-serif);
}