.wrapper {
  padding-block: 2rem;
  background-color: var(--plate-dark);
}

.container {}

.bottom {
  margin-top: 1rem;
  padding-top: 1rem;
  text-align: center;
  font-family: var(--ff-serif);

  p {
    color: var(--ink-inverse);
  }
}